.Projectscontainer {
    width: 91%;
    padding-left: 9vw;
    display: flex;
}

@keyframes rollin {
    from{
        transform: translateY(-40vh) scale(2)  ;
        color:#0B132B ;
        text-shadow: 500px -500px 10px  #0B132B
         
    }
    to{
        transform: translateY(0) scale(1) ;
        color: #5BC0BE;
        text-shadow: 20px 20px 15px  #0B132B
    }
}

.Projectsheader {
    position: relative;
    bottom: 5vh;
    width: 100%;
    text-align: center;
    font-family: Bungee;
    font-size: 8vw;
    color: #5BC0BE;
    text-shadow: 20px 20px 10px  #0B132B;
    -webkit-text-stroke: 1px #6FFFE9;
    text-decoration: 10px;
    padding-top: 2%;
    margin: 0;
    border: 0;
    transform: translateY(-40vh)  ;
    animation: rollin 3s forwards;
     
    
}

@media (max-width: 1050px) {
    .Projectsheader {
        padding-top: 150px;
        font-size: 18vw;
        transform: translateY(0vh);
        animation: none;
    }
    .Projectscontainer {
        width: 100%;
        padding-left: 0vw;
         
    }
}