.CardContainer {
  width: 100%;
  height: 60vh;
  margin: 2%;
  border: thin solid rgba(91, 192, 190, 0.5);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.CardImage {
  display: flex;
  height: 60%;
  border: thick solid #0b132b;
}

.CardImage > img {
  width: 100%;
  object-fit: cover;
}

.CardInner {
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  background-color: #0b132b;
  z-index: 2;
  width: 100%;
}

.CardTitle {
  height: 10%;
  opacity: 0.5;
}

.CardText {
  text-align: center;
  margin: 2%;

  height: 60%;
  overflow: scroll;
}

.CardButtons {
  display: flex;
  width: 100%;
  height: 25%;
  margin-bottom: 1%;
}

.CardButtons > a {
  height: 100%;
  width: 100%;
}

.CardButtons > a > button {
  width: 100%;
  height: 100%;
  border: none;
  color: #0b132b;
  background-color: #5bc0be;
  border-top: thin solid #5bc0be;
  border-bottom: thin solid #5bc0be;
}

.CardButtons > a > button:hover {
  background-color: #0b132b;
  color: #5bc0be;
  text-decoration: none;
}

.CardButtons > a:link {
  text-decoration: none;
}

@media (max-width: 1050px) {
  .CardContainer {
    width: 98%;
    margin: 2%;
  }
}
