.SocialMediaContainer {
    display: flex;
    justify-content: flex-end;
     position: fixed;
     bottom: 0;
     width: 100%;
     padding-left: 9vw;
     z-index: 100;
     
}

.SocialIcon {
    height: 7vh;
    margin: 0;
    margin: .5vh;
    fill:#5BC0BE;
    opacity: .5;

}

@media (max-width: 1050px)  {
    .SocialMediaContainer {
        padding-left: 0;
    }
    .SocialIcon{
        height: 5vh;
    }
}

