.SocialMediaContainer {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  right: 0;
  width: fit-content;

  z-index: 100;
}

.SocialIcon {
  height: 7vh;
  margin: 0;
  margin: 0.7vh;
  fill: #5bc0be;
  opacity: 0.5;
}

@media (max-width: 1050px) {
  .SocialMediaContainer {
    padding-left: 0;
    top: 95px;
     
  }
  .SocialIcon {
    height: 5vh;
  }
}
