.SkillsIconContainer {
  width: 65%;
  padding: 15%;
  height: fit-content;
  border-radius: 15px;

  fill: #5bc0be;
  box-sizing: border-box;

  font-size: 2.5vh;
  text-align: center;
  margin: auto;
}

@keyframes SkillIconSpin {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.1);
  }
}

.SkillIcon {
  stroke: white;
  stroke-width: 1%;
}

.SkillIcon:hover {
  animation: SkillIconSpin 2s forwards;
}

@keyframes modalgrow {
  0% {
    transform: scaleY(0);
  }

  100% {
    transform: scaleY(1);
  }
}

@keyframes modaltitleslide {
  0% {
    transform: translateX(40vw);
  }

  100% {
    transform: translateX(0vw);
  }
}

.popup {
  position: absolute;
  top: 27vh;
  left: 32vw;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  z-index: 100;
  width: 25vw;
  background-color: rgba(11, 19, 43, 0.7);
  height: fit-content;
  color: white;
  position: absolute;
  justify-content: flex-start;
  padding: 1%;
  animation: modalgrow 0.2s forwards;
  overflow: hidden;
}

.popup > h3 {
  align-self: flex-start;
  margin: 0;
  animation: modaltitleslide 0.5s forwards;
}

.popup > p {
  margin-top: 0;
  width: 100%;
  border-top: thin solid #5bc0be;
  text-align: left;
}

@media (max-width: 1050px) {
    .popup {
        position: absolute;
        width: 100%;
        left: 0;
        top: none;
        bottom: 0;
    }
}