.Aboutcontainer {
  width: 92vw;
  margin-left: 8vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 6;
}

@keyframes rollin {
  from {
    transform: translateY(-40vh) scale(2);
    color: #0b132b;
    text-shadow: 500px -500px 10px #0b132b;
  }
  to {
    transform: translateY(0) scale(1);
    color: #5bc0be;
    text-shadow: 20px 20px 15px #0b132b;
  }
}

.Aboutheader {
  display: flex;
  width: 100%;
  justify-content: left;
  font-family: Arimo;
  font-size: 6vh;
  color: #5bc0be;
  text-shadow: 20px 20px 10px #0b132b;
  padding-top: 1vh;
  padding-left: 1%;
  margin: 0;
  border: 0;
  transform: translateY(-40vh);
  animation: rollin 1s forwards;
  z-index: 8;
}

@keyframes contentrollin {
  from {
    transform: translateY(100vh) scale(1);
    color: #1c2541;
    text-shadow: 500px -500px 10px #0b132b;
  }
  to {
    transform: translateY(0) scale(1);
    color: #5bc0be;
    text-shadow: 20px 20px 15px #0b132b;
  }
}

.AboutContent {
  box-sizing: border-box;
  width: 100%;
  height: 93vh;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: thin solid #0b132b;
  background-color: rgba(28, 37, 65, 0.7);
  box-shadow: 20px 20px 15px #0b132b;
  animation: contentrollin 1s forwards;
  z-index: 6;
}

.AboutContent::-webkit-scrollbar {
  display: none;
}

.Aboutimage {
  height: 20vh;
  margin-top: 1%;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 45px 15px rgba(91, 192, 190, 0.77);
  -moz-box-shadow: 0px 0px 45px 15px rgba(91, 192, 190, 0.77);
  box-shadow: 0px 0px 45px 15px rgba(91, 192, 190, 0.77);
  background: linear-gradient(
    180deg,
    rgba(11, 19, 43, 0.3),
    rgba(91, 192, 190, 0.3)
  );
  background-size: 200% 200%;
  border: medium solid rgba(91, 192, 190, 0.75);

  -webkit-animation: aboutimagegradient 7s ease infinite;
  -moz-animation: aboutimagegradient 7s ease infinite;
  animation: aboutimagegradient 7s ease infinite;
}

@-webkit-keyframes aboutimagegradient {
  0% {
    background-position: 0% 90%;
  }
  50% {
    background-position: 100% 11%;
  }
  100% {
    background-position: 0% 90%;
  }
}
@-moz-keyframes aboutimagegradient {
  0% {
    background-position: 0% 90%;
  }
  50% {
    background-position: 100% 11%;
  }
  100% {
    background-position: 0% 90%;
  }
}
@keyframes aboutimagegradient {
  0% {
    background-position: 0% 90%;
  }
  50% {
    background-position: 100% 11%;
  }
  100% {
    background-position: 0% 90%;
  }
}

.AboutText {
  padding-top: 1%;
  padding-bottom: 5%;
  position: relative;
  width: 75%;
  margin: auto;
  font-family: Arimo;
  text-align: justify;
  text-justify: auto;
  font-size: 2.5vh;
  text-indent: 100px;
}

@media (max-width: 1050px) {
  .Aboutheader {
    padding-top: 100px;
    font-size: 10vw;
    transform: translateY(0vh);
    animation: none;
    bottom: 0vh;
  }
  .Aboutcontainer {
    width: 100%;
    margin-left: 0vw;
  }
  .AboutContent {
    height: 75vh;
    width: 100%;
  }

  .AboutText {
    font-size: 2.5vh;
    width: 90%;
  }
}
