.buttontext {
    font-family: Bungee;
    font-size: .9vw; 
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
  } 
  
.buttonimg {
     width: 100%;
     background-color: #1C2541 ;
     margin: auto;
}



  .Navbutton {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    text-align: center;
    color:  #6FFFE9; 
    margin: 0; 
    padding-bottom: 2vh;
    z-index: 0;

}


@keyframes grow {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    100% {
      transform: scale(1.5);
      opacity: .1;
    }
} 

 

.buttonimg:hover {
animation: grow 1.5s forwards;


} 

@media (max-width: 1050px)  {
    .Navbutton {
        width: 100%; 
        padding-top: 20px;
        margin: auto;
        
    }

    .buttontext {
        display: none;
       
        
    }

    .buttonimg {
      background-color: none;
      border-radius: 20px;
    }

    @keyframes mobilegrow {
        0% {
          transform: scale(1);   
        }
        100% {
          transform: scale(1.2);
        }
    } 

    .buttonimg:hover {
        animation: mobilegrow 3s forwards;
    }

}