.buttontext {
    font-family: Pacifico;
    font-size: 1vw; 
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
  } 
  
.buttonimg {
     width: 75%;
     background-color: #1C2541 ;
     margin: auto;
}



  .Navbutton {
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
    color:  #6FFFE9; 
    
    padding-bottom: 2vh;
    z-index: 0;
}


@keyframes grow {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    100% {
      transform: scale(1.5);
      opacity: 0;
    }
} 

 

.buttonimg:hover {
animation: grow 3s forwards;


} 

@media (max-width: 900px)  {
    .Navbutton {
        width: 100%; 
        padding-top: 20px;
        margin: auto;
    }

    .buttontext {
        display: none;
        
    }

    @keyframes mobilegrow {
        0% {
          transform: scale(1);
            
        }
        100% {
          transform: scale(1.3);
            
        }
    } 

    .buttonimg:hover {
        animation: mobilegrow 3s forwards;
    }

}