@keyframes spin {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}


.Backgroundani {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 91%;
    height: 100vh;
    padding-left: 9vw;
    z-index: -10;
    animation: spin 45s infinite;
}