.square {
    animation-play-state: running;
}


.square:hover {
    animation-play-state: paused;
} 
    

@keyframes squareslide {
    from{
        transform: translateX(-50vw);
         
    }
    to{
        transform: translateX(150vw);
         
    }
}

@keyframes squaresliderev {
    from{
        transform: translateX(150vw);
         
    }
    to{
        transform: translateX(-50vw);
         
    }
}